.header .logo{
    font-size: 100px;
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.text-primary{
    color: rgb(39 39 42) !important;
}

.text-secondary{
    color :rgb(82 82 91);
}

a{
    text-decoration: none;
    color: rgb(39 39 42) !important;
}

a:hover{
    font-weight: 600;
}
